@import url(font-awesome.min.css);
@font-face{
	font-family: "Futura-BTBK";
	src: url("../fonts/FuturaBookBT.eot");
	src: url("../fonts/FuturaBookBT.ttf") format('truetype'),
		 url("../fonts/FuturaBookBT.woff") format('woff');
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1lhvjb');
  src:  url('../fonts/icomoon.eot?1lhvjb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1lhvjb') format('truetype'),
    url('../fonts/icomoon.woff?1lhvjb') format('woff'),
    url('../fonts/icomoon.svg?1lhvjb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e958";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-git:before {
  content: "\eae7";
}

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: 'Futura-BTBK', sans-serif;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	body {
		-webkit-text-size-adjust: none;
	}
	html, body {
        position: relative;
        height: 100%;
    }
	h1{
		font-family: 'Raleway', sans-serif;
	}
	*,
	*:after,
	*::before {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
/*Generico*/
.ocultar{
	display: none;
}

/*Containers*/
.contenedor-principal{
  margin:0 auto;
  position:relative;
  overflow:hidden;
  list-style:none;
  padding:0;
  z-index:1;
}
.contenedor-principal .swiper-notification{
  position:absolute;
  left:0;
  top:0;
  pointer-events:none;
  opacity:0;
  z-index:-1000;
}
.contenedor-principal {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

/* Video */
	.video-container{
    width: 100%;
    z-index: -1000;
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
	#video1{
		display: none;
	}
	#video2{
		display: block;
	}
  video,source{
			width: 100%;
	    margin: 0px;
  }

/*Botones navegación*/
 	.boton-nav{
			margin: 0px;
			width: 5%
			height: 5%;
	 		position: absolute;
	 		cursor: pointer;
	 		overflow: hidden;
	 		z-index: 999;
	}
 	.boton-nav span{
	 		position: relative;
	 		left: 2%;
	 		font-size: 1.5em;
			color: white;
			text-align: center;
 	}
	.boton-nav span:hover{
 		color: #781E1F;
 	}
 	#boton1, #boton2{
 		position: absolute;
 		top: 90%;
 	}
	#boton1{
		left: 5%;
	}
 	#boton2{
 		right:5%;
 	}


/*Logo Header*********************************************/
	#logo{
		position: absolute;
		z-index: 998;
		margin-left: 5%;
		margin-top: 5%;
	}
	#logo img{
		width: 23%;
		height: auto;
	}

/*Navegación**********************************************/
	#navegacion{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 991;
	}
	#navegacion section.ventana{
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
	}

/*Home*/
	#navegacion #home{
		display: block;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 992;
	}
	#video-home, #video-home2{
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 998;
	}
	#video-home{
		display: block;
	}
	#video-home2{
		display: none;
	}
	#home h1{
		position: relative;
		color: gray;
		font-size: 1.7em;
		text-align: center;
		margin-top: 65%;
	}

/*Portafolio**********************************************/
	#navegacion #portafolio{
		display: none;
		height: 20%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 992;
	}
	#portafolio .subtitulo-proyectos{
		color: gray;
		font-size: 1.2em;
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
    margin-top: 25%;
    margin-left: 10%;
  }
	#portafolio .contenedor-proyectos{
		width: 90%;
    height: 50%;
    margin: 0% 10% 0% 5%;
    padding: 2%;
	}
	#portafolio .proyecto {
		width: 43%;
    display: inline-grid;
    margin-top: 3%;
    margin-left: 5%;
	}
	#portafolio .proyecto img{
		width: 100%;
		height: auto;
	}
	#portafolio .proyecto a:hover img{
		transform: scale(1.2);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	#portafolio h1{
		position: relative;
		color: gray;
		font-size: 1.5em;
		text-align: center;
		margin-top: 3%;
	}


/*Nosotros************************************************/
	#navegacion #nosotros{
		display: none;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 992;
	}
	#nosotros h1{
		position: relative;
    color: gray;
    font-size: 1.5em;
    text-align: center;
    margin-top: -22.5%;
	}
	.elasticstack {
		position: relative;
		margin: 20% auto;
    padding: 0;
    width: 65%;
    height: 70%;
    list-style: none;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% 150%;
		perspective: 1000px;
		perspective-origin: 50% 150%;
	}
	.no-js .elasticstack {
		max-width: 1090px;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.elasticstack li {
		position: absolute;
		z-index: 1;
		width: 100%;
    height: 87%;
    border-width: 25px 20px 65px 20px;
		border-style: solid;
		border-color: #fff;
		box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
		opacity: 0;
		cursor: pointer;
		-webkit-transform: translate3d(0,0,-180px);
		transform: translate3d(0,0,-180px);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.no-js .elasticstack li {
		position: relative;
		display: inline-block;
		opacity: 1;
		margin: 10px;
		cursor: default;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);

	}
	.elasticstack li img {
		display: block;
		width: 100%;
		height: auto;
	}
	.elasticstack li h5 {
		margin: 0 5px;
		padding: 0;
		color: gray;
		text-align: right;
		font-size: 1em;
		font-family: 'Raleway', sans-serif;
		line-height: 30px;
	}
	.elasticstack li.animate {
		-webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}
	.elasticstack li.move-back {
		/* http://matthewlein.com/ceaser/ */
		-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1); /* older webkit */
		-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.470, 1.515);
	}

/*Contacto************************************************/
	#navegacion #contacto{
		display: none;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 992;
	}
	#logo-contacto{
		position: absolute;
		z-index: 996;
		margin: 5%;
	}
	#logo-contacto img{
		width: 24.2%;
		height: auto;
	}
	#contacto h1{
		position: relative;
		color: gray;
		font-size: 1.5em;
		text-align: center;
		margin-top: 60%;
	}
	#video-contacto, #video-contacto2{
		margin-top: 0%;
		width: 100%;
		height: auto;
		z-index: 998;
	}
	#video-contacto2{
		display: none;
	}
 	#navegacion	#contacto #contraste{
	  	position: absolute;
		  margin-top: 0%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 999;
	}
  #contacto #contraste a{
			position: relative;
			margin-left: 15.8%;
			text-decoration: none;
			text-align: center;
			color: red;
			font-size: 1.5em;
	}
	#contacto	#contraste a:hover{
			color: #781E1F;
	}
  #contacto #contraste a::after{
			content: '';
			display: block;
			width: 0;
			height: 2px;
			transition: width .3s;
			background: #fff;
	}
	#contacto #contraste a:hover::after{
			width: 100%;
			transition: width .3s;
	}
	#contacto	.dside-footer{
		position: relative;
		text-align: center;
		margin-top: 10%;
		color: rgba(111, 111, 111, 0.64);
		font-size:  0.8em;
	}


/* ---------- Iphone 4 , 4s Horizontal ------------ */
	@media only screen
	and (min-device-width: 212px)
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {

		/*Botones navegación*/
				#boton1, #boton2{
					top: 85%;
				}
	  /*Logo Header*/
				#logo{
					margin-left: 5%;
					margin-top: 3%;
				}
				#logo img{
					width: 15%;
					height: auto;
				}
		/*Home*/
				#navegacion #home{
						display: block;
						height: 100%;
						z-index: 999;
				}
				#video-home{
						display: none;
				}
				#video-home2{
						display: block;
				}
				#home h1{
					font-size: 1.2em;
					text-align: left;
					margin-top: 25%;
					margin-left: 5%;
				}
		/*Portafolio*/
				#portafolio .subtitulo-proyectos{
						font-size: 1em;
						margin-top: 12%;
						margin-left: 10%;
				}
				#portafolio .contenedor-proyectos{
						width: 80%;
						height: 50%;
						margin: 0% 10% 10% 10%;
						padding: 2%;
				}
				#portafolio .proyecto {
						width:25%;
						display: inline-grid;
						margin-top: 0%;
						margin-left: 15%;
				}
				#portafolio h1{
						font-size: 1em;
						margin-top: -14%;
						margin-left: 70%;
				}
		/*Nosotros*/
				#nosotros h1{
						font-size: 1em;
						margin-top: -12%;
						margin-left: 70%;
				}
				.elasticstack {
						margin: 5% auto;
						padding: 0;
						width: 35%;
						height: 80%;
				}
				.elasticstack li {
						height: 100%;
						border-width: 15px 15px 65px 15px;
						border-style: solid;
						border-color: #fff;
						box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
						opacity: 0;
						cursor: pointer;
						-webkit-transform: translate3d(0,0,-180px);
						transform: translate3d(0,0,-180px);
						-webkit-transform-style: preserve-3d;
						transform-style: preserve-3d;
				}
		  	.elasticstack li h5 {
						text-align: right;
						font-size: 0.7em;
						line-height: 20px;
				}
		/*Contacto*/
				#contacto h1{
						font-size: 1.3em;
						margin-top: 15%;
				}
				#video-contacto1{
						display: none;
				}
				#video-contacto2{
						display: block;
				}
			  #contacto #contraste a{
						margin-left: 30%;
						font-size: 1.3em;
				}
				#contacto	#contraste a:hover{
						color: #781E1F;
				}
			  #contacto #contraste a::after{
						content: '';
						display: block;
						width: 0;
						height: 2px;
						transition: width .3s;
						background: #fff;
				}
				#contacto #contraste a:hover::after{
						width: 100%;
						transition: width .3s;
				}
				#contacto	.dside-footer{
					margin-top: 3%;
					font-size:  0.8em;
				}
	 }
/* ---------------Iphone 5, 5S ,5C ,5SE Vertical----------*/
	@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 528px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {

	 	/*Logo Header*********************************************/
	 	   #logo{
	 		 		margin-left: 5%;
	 		 		margin-top: 5%;
	 		 }
	 		 #logo img{
	 		 		width: 23%;
	 		 		height: auto;
	 		 }

	 	/*Home*/
	 		 #video-home{
	 		 		display: block;
	 		 }
	 		 #video-home2{
	 		 		display: none;
	 		 }
	 		 #home h1{
	 		 		font-size: 1.7em;
	 		 		margin-top: 85%;
	 		 }

	  /*Portafolio*/

	 		 	#portafolio .contenedor-proyectos{
	 		 		width: 90%;
	 		    height: 50%;
	 		    margin: 30% 10% 0% 3%;
	 		    padding: 2%;
	 		 	}
	 		 	#portafolio .proyecto {
	 		 		width: 43%;
	 		    margin-top: 8%;
	 		    margin-left: 5%;
	 		 	}
	 		 	#portafolio h1{
	 		 		font-size: 1.5em;
	 		 		margin-top: 5%;
	 		 	}

	 	/*Nosotros*/
	 		 	#nosotros h1{
	 		    font-size: 1.5em;
	 		    margin-top: 5%;
	 		 	}
	 		 	.elasticstack {
	 		 		margin: 35% auto 0% auto;
	 		    padding: 0;
	 		    width: 70%;
	 		    height: 55%;
	 		 	}
	 		 	.elasticstack li {
	 		 		width: 100%;
	 		    height: 94%;
	 		    border-width: 25px 20px 60px 20px;
	 		 	}
	 		 	.elasticstack li h5 {
	 		 		font-size: 1.05em;
	 		 		line-height: 25px;
	 		 	}

	  /*Contacto*/
	 		 	#video-contacto2{
	 		 		display: none;
	 		 	}
	 			#contacto	#contraste h1{
	 				margin-top: 65%;
	 			}
	 			#contacto	#contraste a:hover{
	 					color: #781E1F;
	 			}
	 		  #contacto #contraste a::after{
	 					content: '';
	 					display: block;
	 					width: 0;
	 					height: 2px;
	 					transition: width .3s;
	 					background: #fff;
	 			}
	 			#contacto #contraste a:hover::after{
	 					width: 100%;
	 					transition: width .3s;
	 			}
	 		  #contacto	.dside-footer{
	 		 		margin-top: 25%;
	 		 	}
	 }
/* ---------------Iphone 5, 5S ,5C ,5SE Horizontal----------*/
	@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 568px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {

		/*Botones navegación*/
			#boton1, #boton2{
				top: 85%;
			}
			.boton-nav{
			  	width: 5%;
					height: 9%;
			}
			.boton-nav span{
					font-size: 1.5em;
			}
		/*Logo Header*/
			#logo{
					margin-left: 5%;
					margin-top: 3%;
			}
			#logo img{
					width: 15%;
					height: auto;
			}

	 /*Home*/
			#navegacion #home{
					display: block;
					height: 100%;
					z-index: 999;
			}
			#video-home{
					display: none;
			}
			#video-home2{
					display: block;
			}
			#home h1{
					font-size: 1.2em;
					text-align: left;
					margin-top: 35%;
					margin-left: 5%;
			}
	 /*Portafolio*/

			#portafolio .contenedor-proyectos{
					width: 80%;
					height: 50%;
					margin: 45% 10% 0% 10%;
					padding: 2%;
			}
			#portafolio .proyecto {
					width: 22%;
					display: inline-grid;
					margin-top: 5%;
					margin-left: 15%;
			}
			#portafolio h1{
					font-size: 1em;
					margin-top: -5%;
					margin-left: 72%;
			}

	 /*Nosotros*/
			#nosotros h1{
					font-size: 1em;
					margin-top: -5%;
					margin-left: 72%;
			}
			.elasticstack {
					margin: 20% auto 0% auto;
					padding: 0;
					width: 35%;
					height: 35%;
			}
			.elasticstack li {
					height: 100%;
						border-width: 20px 20px 75px 20px;
					border-style: solid;
			}
			.elasticstack li h5 {
					text-align: right;
					font-size: 0.75em;
					line-height: 25px;
			}

	 /*Contacto*/
			#contacto h1{
					font-size: 1.4em;
					margin-top: 25%;
			}
			#video-contacto1{
					display: none;
			}
			#video-contacto2{
					display: block;
			}
			#contacto #contraste a{
					margin-left: 32%;
					font-size: 1.4em;
			}
			#contacto	#contraste a:hover{
					color: #781E1F;
			}
		  #contacto #contraste a::after{
					content: '';
					display: block;
					width: 0;
					height: 2px;
					transition: width .3s;
					background: #fff;
			}
			#contacto #contraste a:hover::after{
					width: 100%;
					transition: width .3s;
			}
			#contacto	.dside-footer{
					margin-top: 4%;
					font-size:  0.8em;
			}
	}
	/* ---------------Android Medium Screen Size Vertical----------*/
	@media only screen
	and (min-device-width: 330px)
	and (max-device-width: 528px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {

		/*Logo Header*********************************************/
		#logo{
			margin-left: 5%;
			margin-top: 5%;
		}
		#logo img{
			width: 23%;
			height: auto;
		}

		/*Home*/
		#video-home{
			display: block;
		}
		#video-home2{
			display: none;
		}
		#home h1{
			font-size: 1.7em;
			margin-top: 85%;
		}

		/*Portafolio*/
		#portafolio .subtitulo-proyectos{
			font-size: 1.2em;
			font-size: 1.2em;
			margin-top: 30%;
			margin-left: 10%;
		}
		#portafolio .contenedor-proyectos{
			width: 90%;
			height: 50%;
			margin: 0% 10% 0% 3%;
			padding: 2%;
		}
		#portafolio .proyecto {
			width: 43%;
			margin-top: 8%;
			margin-left: 5%;
		}
		#portafolio h1{
			font-size: 1.5em;
			margin-top: 5%;
		}

		/*Nosotros*/
		#nosotros h1{
			font-size: 1.5em;
			margin-top: 5%;
		}
		.elasticstack {
			margin: 35% auto 0% auto;
			padding: 0;
			width: 70%;
			height: 55%;
		}
		.elasticstack li {
			width: 100%;
			height: 94%;
			border-width: 25px 20px 60px 20px;
		}
		.elasticstack li h5 {
			font-size: 1.05em;
			line-height: 25px;
		}

		/*Contacto*/
		#video-contacto2{
			display: none;
		}
		#contacto	#contraste h1{
			margin-top: 65%;
		}
		#contacto	#contraste a{
			margin-left: 17%;
		}
		#contacto	#contraste a:hover{
			color: #781E1F;
		}
		#contacto #contraste a::after{
			content: '';
			display: block;
			width: 0;
			height: 2px;
			transition: width .3s;
			background: #fff;
		}
		#contacto #contraste a:hover::after{
			width: 100%;
			transition: width .3s;
		}
		#contacto	.dside-footer{
			margin-top: 25%;
		}
	}
/* ---------------Android Medium-Large Screen Size Horizontal----------*/
	@media only screen
	and (min-device-width: 260px)
	and (max-device-width: 640px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {
		/*Botones navegación*/
				#boton1, #boton2{
					top: 85%;
				}
  	/*Logo Header*********************************************/
	 	   #logo{
	  	 		margin-left: 5%;
	 		 		margin-top: 2%;
	 		 }
	 		 #logo img{
			 		width: 12%;
	 		 		height: auto;
	 		 }

	 	/*Home*/
	 		 #video-home{
	 		 		display: none;
	 		 }
	 		 #video-home2{
	 		 		display: block;
	 		 }
	 		 #home h1{
	 		 		font-size: 1.7em;
	 		 		margin-top: 25%;
  		 }
 	 /*Portafolio*/

	 	 	 #portafolio .contenedor-proyectos{
	 	 	 		width: 80%;
	 	 	    height: 50%;
	 	 	    margin: 15% 10% 0% 10%;
	 	 	    padding: 2%;
	 	 	 }
	 	 	 #portafolio .proyecto {
	 	 			width: 25%;
	 	 		  margin-top: 0%;
	 	 		  margin-left: 15%;
	 	 	 }
	 	 	 #portafolio h1{
	 	 	 		font-size: 1em;
	 	 	 		margin-top: 0%;
					margin-left: 75%;
	 	 	 }

	 /*Nosotros*/
	  	 #nosotros h1{
		 	 	  font-size: 1em;
		 	 	  margin-top: -3.5%;
					margin-left: 75%;
		 	 }
		 	 .elasticstack {
		 	 	 	margin: 10% auto 0% auto;
		 	 	  padding: 0;
		 	 	  width: 35%;
		 	 	  height: 65%;
		 	 }
		 	 .elasticstack li {
		 	 		 	width: 100%;
		 	 		  height: 100%;
		 	 		  border-width: 20px 20px 70px 20px;
		 	 	 }
		 	 .elasticstack li h5 {
		 	 		 	font-size: 0.8em;
		 	 		 	line-height: 25px;
		 	 	 }
	 /*Contacto*/
	 	 	 #video-contacto2{
	 	 		 	display: none;
	 	 	 }
	 	 	 #contacto	#contraste h1{
	 	 			margin-top: 20%;
	 	 	 }
	 		 #contacto	#contraste a{
	 			 margin-left: 32.5%;
	 		 }
	 	 	 #contacto	#contraste a:hover{
	 				color: #781E1F;
	 	 	 }
	 	 	 #contacto #contraste a::after{
	 	 			content: '';
	 	 			display: block;
	 	 			width: 0;
	 	 			height: 2px;
	 	 			transition: width .3s;
	 	 			background: #fff;
	 	 	 }
	 	 	 #contacto #contraste a:hover::after{
	 	 			width: 100%;
	 	 			transition: width .3s;
	 	 	 }
	 	 	 #contacto	.dside-footer{
	 	 		 	margin-top: 3%;
	 	   }
	}
/* ---------------Android Medium-Large Screen Size Vertical----------*/
	@media only screen
	and (min-device-width: 360px)
	and (max-device-width: 640px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: portrait) {

	 	/*Logo Header*********************************************/
	 	   #logo{
	  	 		margin-left: 5%;
	 		 		margin-top: 5%;
	 		 }
	 		 #logo img{
			 		width: 23%;
	 		 		height: auto;
	 		 }

	 	/*Home*/
	 		 #video-home{
	 		 		display: block;
	 		 }
	 		 #video-home2{
	 		 		display: none;
	 		 }
	 		 #home h1{
	 		 		font-size: 1.7em;
	 		 		margin-top: 85%;
	 		 }

	 	 /*Portafolio*/
	 	   #portafolio .subtitulo-proyectos{
	 	 	 		font-size: 1.2em;
	 	 	 		font-size: 1.2em;
	 	 	    margin-top: 30%;
	 	 	    margin-left: 10%;
	 	 	 }
	 	 	 #portafolio .contenedor-proyectos{
	 	 	 		width: 90%;
	 	 	    height: 50%;
	 	 	    margin: 35% 10% 0% 3%;
	 	 	    padding: 2%;
	 	 	 }
	 	 	 #portafolio .proyecto {
	 	 			width: 43%;
	 	 		  margin-top: 8%;
	 	 		  margin-left: 5%;
	 	 	 }
	 	 	 #portafolio h1{
	 	 	 		font-size: 1.5em;
	 	 	 		margin-top: 5%;
	 	 	 }

	 	/*Nosotros*/
	 	 	 #nosotros h1{
	 	 		  font-size: 1.5em;
	 	 		  margin-top: 5%;
	 	 	 }
	 	 	 .elasticstack {
	 	 		 	margin: 35% auto 0% auto;
	 	 		  padding: 0;
	 	 		  width: 70%;
	 	 		  height: 55%;
	 	 	 }
	 	 	 .elasticstack li {
	 	 		 	width: 100%;
	 	 		  height: 94%;
	 	 		  border-width: 25px 20px 60px 20px;
	 	 	 }
	 	 	 .elasticstack li h5 {
	 	 		 	font-size: 1.1em;
	 	 		 	line-height: 30px;
	 	 	 }
    /*Contacto*/
 		 	 #video-contacto2{
	 	 		 	display: none;
	 	 	 }
	 	 	 #contacto	#contraste h1{
	 	 			margin-top: 75%;
	 	 	 }
	 		 #contacto	#contraste a{
	 			 margin-left: 20.5%;
	 		 }
	 	 	 #contacto	#contraste a:hover{
	 				color: #781E1F;
	 	 	 }
	 	 	 #contacto #contraste a::after{
	 	 			content: '';
	 	 			display: block;
	 	 			width: 0;
	 	 			height: 2px;
	 	 			transition: width .3s;
	 	 			background: #fff;
	 	 	 }
	 	 	 #contacto #contraste a:hover::after{
	 	 			width: 100%;
	 	 			transition: width .3s;
	 	 	 }
	 	 	 #contacto	.dside-footer{
	 	 		 	margin-top: 25%;
	 	   }
	}
